<article>
  <section id="main">
  <h1>This section is about FooBar</h1>
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor magna, tempor a bibendum eget.
  </p>
  <p>
  Nunc ultrices, libero vel tempor eleifend, leo erat euismod ipsum, id ferentum ligula mauris ut est. Nullam vehicula.
  </p>
  </section>
  <section id="sidebar">
    <h1>This section is about Pooh Bear</h1>
    <p>
      Maecenas luctus nulla id dui consequat venenatis. Praesent sit amet lectus sit amet dui consectetur convallis at in ligula. Vestibulum.
    </p>
  </section>
</article>

